# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Node
node_modules/
.next/
out/

# Build artifacts
dist/
build/

# Coverage
coverage/
.coverage